:root {
    --primary-color: #F2B705;
    --secondary-color: #BF9004;
    --font-color: #401801;
    --bg-color: #F2DDD0;
    --heading-color: #A63F03;
    font-size: 10px;
    --white-color: #fff;
    --black-color: #000
    --radius: 0.6rem;
    --xxsmal-spacing: 0.2rem;
    --xsmall-spacing: 0.6rem;
    --small-spacing: 1rem;
    --base-spacing: 1.4rem;
    --medium-spacing: 2rem;
    --large-spacing: 3rem;
    --xlarge-spacing: 4rem;
}

[data-theme="dark"] {
    --primary-color: #A63F03;
    --secondary-color: #BF9004;
    --font-color: #F2B705;
    --bg-color: #212121;
    --heading-color: #F25C05;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}

body, #root{
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    font-family: cursive;
    font-size: initial;
}

::placeholder {
    color: var(--secondary-color);
}

a {
    color: var(--font-color);
}

a:hover {
    color: var(--heading-color)
}